/*
Lecture Link : https://youtu.be/wniwVKDJBt0?list=PLcnuXGrBAu2iRf8NqkRaLu9ulztzPk6-9
*/

/*Class*/

.Now {
    color: red;font-size: 50px;text-align: center;
    }
.Aim {
    color: green;font-size: 40px;
}
.ki {
    color: brown;font-size: 30px;
}
.Mi {
    color: purple;font-size: 20px;
}

/*ID*/

#onelogo{
    color: darkblue;
    font-size: 50px;
    text-align: center;
}
#twologo{
    color: rgb(218, 255, 10);
}