/*
    Lecture Link : https://youtu.be/8CppI0e1KCI?list=PLcnuXGrBAu2iRf8NqkRaLu9ulztzPk6-9
*/

.righttext{
    text-align: right;
}

.centertext{
    text-align: center;
}
.lefttext{
    text-align: left;
}

.div1{
    background-color: orange;
    width: 300px;
    height: 125px;
    position: relative;
    left:500px;
    top: 40px;
}
input{
    text-align: center;  
}

/*Text Align Without Justify*/
.div2{
    background-color: powderblue;
    position: relative;
    top: 50px;
    width: 300px;
    height: 125px;
    left: 500px;
}

/*Text align with justify*/

.div3{
    background-color: rgb(13, 245, 71);
    position: relative;
    top: 50px;
    width: 300px;
    height: 125px;
    left: 500px;
    text-align: justify;
}

.div4{
    background-color: rgb(253, 25, 215);
    text-align: center;
    font-size: 40px;
    position: relative;
    top: -300px;
    width: 200px;
    height: 60px;
    padding: 5px;
}
.div5{
    background-color: rgb(253, 25, 215);
    text-align: center;
    font-size: 40px;
    position: relative;
    top: -200px;
    width: 200px;
    height: 60px;
    padding: 5px;
}
.div6{
    background-color: rgb(253, 25, 215);
    text-align: center;
    font-size: 40px;
    position: relative;
    top: -330px;
    width: 200px;
    height: 60px;
    padding: 5px;
    float: right;
}

a:hover{
    color: rgb(13, 245, 71);
}
/*
a:visited
a:active
*/